body {
    font-family: 'Poppins', sans-serif;
}
.site-header{
    font-family: 'Berkshire Swash', cursive;
    font-size: 92px;
    color: rgb(255, 102, 0);
}
.p-spacing{
    margin: 25px 100px 20px 100px;
    color: antiquewhite;
}
.background{
    background-color: black;
    height: 80vh;
    object-fit: cover;
    
}